<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container" style="max-width: 600px;">
        <div class="p-2">
            <app-data-matrix-scanner></app-data-matrix-scanner>
        </div>
        <div class="p-2">
            <p>{{ 'dialog.body.preface' | translate }}</p>
            <ul>
                <li>{{ 'dialog.body.it' | translate }}</li>
                <li>{{ 'dialog.body.biomedical' | translate }}</li>
                <li>{{ 'dialog.body.technical' | translate }}</li>
            </ul>
        </div>
    </div>
</div>


